name: Timed Link Scheduler

on:
  schedule:
    # 9:00 PM IST → 15:30 UTC
    - cron: '30 15 * * *'
    # 12:00 AM IST → 18:30 UTC
    - cron: '30 18 * * *'
  workflow_dispatch:

jobs:
  toggle:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Switch page based on time
        run: |
          HOUR=$(date -u +"%H")

          if [ "$HOUR" -eq 15 ]; then
            echo "Activating exam"
            cp active.html index.html
          else
            echo "Deactivating exam"
            cp inactive.html index.html
          fi

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add index.html
          git commit -m "Auto toggle exam page" || echo "No changes"
          git push
